@model IEnumerable<Musictify.Models.Songs>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SongsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collab)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lyrics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YoutubeLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SongsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Collab)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lyrics)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YoutubeLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.AlbumName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SongsID" class="text-info">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SongsID" class="text-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SongsID" class="text-info">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
