@model Musictify.Models.TicketPricing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TicketPricing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VipPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VipPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackstagePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackstagePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EarlyBirdPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarlyBirdPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NormalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NormalPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TicketPricingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
