@model IEnumerable<Musictify.Models.TicketPricing>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VipPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BackstagePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EarlyBirdPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NormalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VipPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BackstagePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EarlyBirdPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NormalPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TicketPricingID" class="text-info">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TicketPricingID" class="text-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TicketPricingID" class="text-info">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
