@model IEnumerable<Musictify.Models.Singer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SingerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SingerAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SingerDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SingerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SingerAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SingerDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SingerID" class="text-info">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SingerID" class="text-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SingerID" class="text-info">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
