@model Musictify.Models.ConcertSinger

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ConcertSinger</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Singer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Singer.SingerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Concert)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Concert.ConcertID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ConcertSingerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
