@model IEnumerable<Musictify.Models.Stadium>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StadiumName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StadiumCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StadiumCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StadiumAdress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StadiumName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StadiumCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StadiumCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StadiumAdress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StadiumID" class="text-info">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StadiumID" class="text-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StadiumID" class="text-info">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
