@model Musictify.Models.PlaylistSongs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlaylistSongs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Playlist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Playlist.PlaylistID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Songs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Songs.SongsID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlaylistSongsID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
